:root {
  --main-box-shadow: 0px 2px 11px -4px rgba(0,0,0,0.5);
  --main-border-radius: 4px;
  --main-margin-top: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.Content {
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.Message {
  margin: 0 auto 30px;
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-right-width: 20px;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
}

.Message--error {
  border-color: #EF4223;
}

.Message--success {
  border-color: #1D8631;
}

.Message-title {
  font-weight: 700;
}

.Message-text {
  margin-top: var(--main-margin-top);
}

.Link {
  text-decoration: none;
  color: #7AAAC5;
}

.Wrapper--left {
  align-self: flex-end;
  margin-top: var(--main-margin-top);
}

.Link-button {
  text-transform: uppercase;
  background-color: #24719F;
  padding: 10px;
  border: none;
  border-radius: var(--main-border-radius);
  color: #FFFFFF;
  box-shadow: var(--main-box-shadow);
  cursor: pointer;
  text-decoration: none;
  cursor: pointer;
}
